<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Homepage</title>
    <link href="/dist/output.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <div class="max-w-screen-xl m-auto flex justify-between">
        <a href="../layouts/index.html">POLANG</a>
        <nav>
          <span>Trainer</span>
          <span>Get</span>
          <span>Logout</span>
        </nav>
      </div>
    </header>
    <main></main>
    <script src="../main.js"></script>
  </body>
</html>
